# Ignore Node.js dependencies (Frontend)
/frontend/node_modules
/frontend/build
/frontend/dist

# Ignore Python environment (Backend)
/backend/env
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore sensitive files
.env
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE files
.idea/
.vscode/
*.swp
